{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted"> {{ post.created_on }}</p>
        <h5 class=" text-muted" >Written By - {{ post.author }}</h5>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="main-comment-section">
        {{comments.count}} Comment{{comments|pluralize}}
        {% for comment in comments%}
        <blockquote class="blockquote">
          <p class="mb-0">{{comment.content}}</p>
          <footer class="blockquote-footer">by <cite title="source-title">{{comment.created_by|capfirst}}</cite> </footer>
        </blockquote>
         {%endfor%}
      
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {{comment_form.as_p}}
          
          {% if request.user.is_authenticated %}
          <input type="submit" value="submit" class="btn btn-primary">
          {% else %}
          <input type="submit" value="submit" class="btn btn-primary" disabled>
          {% endif %}
           </form>
      
 
 </div>
  </div>
</div>

{% endblock content %}