{% include 'dashboard/base.html' %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">  
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                        <center>
                        <div class="container">
                            <h1>Delete Account</h1>
                            <p>Are you sure you want to delete your account?</p>
                            <div class="clearfix">
                              <a href= "{% url 'view_post' %}"><button type="button" class="btn btn-primary">Cancel</button></a>
                              <button type="submit" class="btn btn-danger" value="submit">Delete</button>
                            </div>
                        </div>

                    </center>
                </form>




                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->


</div><!-- /#right-panel -
<!-- <div class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Trainers List</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="" id="delete_trainer" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
